/*Chart color code*/
.block.AIADMK-color {
  background: #006837;
}
.block.DMK-color {
  background: #b71c24;
}
.block.AMMK-color {
  background: #00a2ab;
}
.block.MNM-color {
  background: #ffaa2e;
}
/* //tn AIADMK: #006837,  DMK: #b71c24 , AMMK:#00a2ab, Others: 797979 */
/* //wb TMC: #006837, BJP+: #ffaa2e, Left: #b71c24, Others: 797979 */
/* //as Neda: #ffaa2e, Congress: #b71c24, AJP: #00a2ab , Others: 797979 */
/* //kl UDF: #006837, LDF: #b71c24, NDA: #ffaa2e , Others: 797979 */
/* //pd UPA: #006837,  NDA: #ffaa2e , Others: 797979 */

/* 2021 - Alliance Seatshare */
/* ======================= */
/* ======================= */
.y2021.tn .AIADMK {
  fill: #006837;
}
.y2021.tn .DMK {
  fill: #b71c24;
}

.y2016.tn .AIADMK {
  fill: #006837;
}
.y2016.tn .DMK {
  fill: #b71c24;
}
.y2016.tn .INC {
  fill: #b71c24;
}
.y2016.tn .IML {
  fill: #b71c24;
}

/* ________________ */

.y2021.as .BJP, .y2017 .BJP {
  fill: #ffaa2e;
}
.y2021.as .INC, .y2017 .INC  {
  fill: #b71c24;
}
.y2021.as .Others, .y2017 .Others {
  fill: #797979;
}

.y2016.as .BJP {
  fill: #ffaa2e;
}
.y2016.as .INC {
  fill: #b71c24;
}

.y2016.as .AGP {
  fill: #ffaa2e;
}
.y2016.as .BOPF {
  fill: #ffaa2e;
}
.y2016.as .AIUDF {
  fill: #797979;
}
.y2016.as .Others {
  fill: #797979;
}
.y2016.as .IND {
  fill: #797979;
}
.y2016.as .IML {
  fill: #797979;
}

/* ________________ */
.y2021.wb .TMC, .y2017 .TMC {
  fill: #006837;
}
.y2021.wb .BJP {
  fill: #ffaa2e;
}
.y2021.wb .Others {
  fill: #797979;
}
.y2016.wb .AITC,
.y2016.wb .TMC {
  fill: #006837;
}
.y2016.wb .INC {
  fill: #b71c24;
}
.y2016.wb .CPIM {
  fill: #b71c24;
}
.y2016.wb .Others {
  fill: #797979;
}

.y2016.wb .BJP {
  fill: #ffaa2e;
}

/* ________________ */
.y2021.kl .CPIM {
  fill: #b71c24;
}
.y2021.kl .INC {
  fill: #006837;
}

.y2016.kl .CPIM {
  fill: #b71c24;
}
.y2016.kl .CPI {
  fill: #b71c24;
}
.y2016.kl .INC {
  fill: #006837;
}
.y2016.kl .IUML {
  fill: #006837;
}
.y2016.kl .IND,
.y2016.kl .Others {
  fill: #797979;
}

/* ________________ */
.y2021.pd .INC {
  fill: #006837;
}
.y2016.pd .INC {
  fill: #006837;
}
.y2016.pd .AIADMK {
  fill: #006837;
}
.y2021.pd .AINRC {
  fill: #ffaa2e;
}
.y2016.pd .AINRC {
  fill: #ffaa2e;
}
.y2021.pd .Others,
.y2016.pd .IND {
  fill: #797979;
}
.y2016.pd .DMK {
  fill: #b71c24;
}
.AAP,
.aap .party-score {
  fill: #4c9b7a;
  color: #4c9b7a;
}
/* .y2021.pd .INC {
  fill: #006837;
} */

/* .aap,
.AAP,
.aap .party-score {
  fill: #4c9b7a;
  color: #4c9b7a;
}
.AIADMK {
  fill: #006837;
  color: #006837;
}
.DMK {
  fill: #b71c24;
  color: #b71c24;
  stroke: #b71c24;
}
.AMMK {
  fill: #00a2ab;
  color: #00a2ab;
  stroke: #00a2ab;
}
.MNM {
  fill: #ffaa2e;
  color: #ffaa2e;
  stroke: #ffaa2e;
}
.undeclared {
  fill: #fff;
  color: #fff;
  stroke: #7c7c7c;
}
.bjp {
  fill: #fa8601;
  color: #fa8601;
  stroke: #fa8601;
}
.INC {
  fill: #945a19;
  color: #945a19;
  stroke: #945a19;
}
.IML {
  fill: #194ab4;
  color: #194ab4;
  stroke: #194ab4;
}
.Others {
  fill: #797979;
  color: #797979;
  stroke: #797979;
} */ ;
