.BJP {
  fill: #F39200;
}
.SP, .INC {
  fill: #3AAA35;
}
.BSP {
  fill: #36A9E1;
}
/*Chart color code*/
.block.AIADMK-color {
  background: #006837;
}
.block.DMK-color {
  background: #b71c24;
}
.block.AMMK-color {
  background: #00a2ab;
}
.block.MNM-color {
  background: #ffaa2e;
}
/* //tn AIADMK: #006837,  DMK: #b71c24 , AMMK:#00a2ab, Others: 797979 */
/* //wb TMC: #006837, BJP+: #ffaa2e, Left: #b71c24, Others: 797979 */
/* //as Neda: #ffaa2e, Congress: #b71c24, AJP: #00a2ab , Others: 797979 */
/* //kl UDF: #006837, LDF: #b71c24, NDA: #ffaa2e , Others: 797979 */
/* //pd UPA: #006837,  NDA: #ffaa2e , Others: 797979 */

/* 2021 - Alliance Seatshare */
/* ======================= */
/* ======================= */
.Others {
  fill: #797979;
}

.AAP {
  fill: #4c9b7a;
  color: #4c9b7a;
}
.NPF {
  fill: #28357F;
}
.NPP {
  fill: #EEA801;
}
.AAP {
  fill: #0474AB;
}
.MGP {
  fill: #e6980b;
}
.SAD {
  fill: #3B2F85;
}